In [19]:
import pandas as pd
path = "/home/ashish18024/Deep-Learning-Assignments/Assignment_1/question_2/data/training/train/train.csv"

In [20]:
df = pd.read_csv(path)

In [21]:
df.head()

       image_id      label_id  volume
0  00000000.png  00000000.npy  vol_01
1  00000001.png  00000001.npy  vol_01
2  00000002.png  00000002.npy  vol_01
3  00000003.png  00000003.npy  vol_01
4  00000004.png  00000004.npy  vol_01